%a.dropdown-toggle{ :href => "#", "data-toggle" => "dropdown" } 
    menu 
    %span.caret

%ul.dropdown-menu{ :role => "menu"}
    %li
        %a{ :href => "#"} maestros
    %li
        %a{:href => "#" } archivos

    %li.divider            
    %li
        %a{:href => "/about" } acerca
